{{> header}}

<form action="/items/:{{id}}" method="put">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Note item</th>
        <th>Category</th>
        <th>User</th>
        <th>Done</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
		{{#each data}}
            {{#if id}}
                <tr>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{category}}
                    </td>
                    <td>
                        {{username}}
                    </td>
                    <td>
                        {{done}}
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" name="Change" value="Change"/>
                    </td>
                </tr>
            {{/if}}
		{{/each}}
    </tbody>
</table>
</form>

{{> footer}}

